@{
    ViewData["Title"] = "Home Page";
}

<h4 class="text-center">Таблицы</h4>
<div class="text-center">
    <a class="btn btn-main" asp-controller="Clients">Заказчики</a>
    <a class="btn btn-main" asp-controller="Contracts">Контракты</a>
    <a class="btn btn-main" asp-controller="Managers">Менеджеры</a>
    <a class="btn btn-main" asp-controller="Manufacturers">Производители</a>
    <a class="btn btn-main" asp-controller="Products">Ассортимент</a>
    <a class="btn btn-main" asp-controller="Pashas">Паши</a>
</div>

<h4 class="text-center mt-5" style="color: #1b995e;">Запросы</h4>
<div class="text-center">
    <a class="btn btn-success" asp-controller="Home" asp-action="LastAdmission"> Последние поступления (10 дней)</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="RatingClient"> Рейтинг заказчиков по общим суммам контрактов</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="ClientsWithProduct"> Клиенты, заказавшие заданный вид изделия</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="Dynamic"> Динамика реализации единиц ассортимента</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="ManufacturersClients"> Общий список производителей и заказчиков</a>
</div>